<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog System{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="{% url 'index' %}" class="logo">BlogSystem</a>
            <div class="nav-links">
                <a href="{% url 'index' %}">Home</a>
                {% if user %}
                <a href="{% url 'create_blog' %}">Write Post</a>
                {% endif %}
                {% if not user %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
                {% endif %}

                {% if user %}
                <a href="">{{ user.username }}</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>