{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Latest Blog Posts</h1>
            <p>Discover amazing stories and insights from our community</p>
        </div>
        
        <div class="blog-grid">
            <!-- Sample Blog Post 1 -->
            {% for blog in blogs %}
        <!-- Sample Blog Post 1 -->
            <article class="blog-card">
                <div class="blog-image">
                    <img src="{{ blog.image_url }}" width="60" alt="{{ blog.title }}">
                </div>
                <div class="blog-content">
                    <h2 class="blog-title">{{ blog.title }}</h2>
                    <div class="blog-meta">
                        <span>By {{ blog.author }}</span>
                        <span>{{ blog.created_date }}</span>
                    </div>
                    <p class="blog-excerpt">
                        {{ blog.excerpt }}
                    </p>
                    <a href="./blog?id={{ blog.eid }}" class="read-more">Read More</a>
                </div>
            </article>

            {% endfor %}
            
            <!-- Sample Blog Post 2 -->
            
        </div>
        
        <!-- Uncomment this section if there are no posts -->
        <!-- 
        <div class="no-posts">
            <h3>No blog posts yet</h3>
            <p>Be the first to share your thoughts with the community!</p>
            <a href="create-blog.html" class="create-post-btn">Create Your First Post</a>
        </div>
        -->
    </div>
{% endblock %}